<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--style-->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/nav.css">

    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Griffy&family=Island+Moments&family=Montaga&display=swap" rel="stylesheet">

    <title>Gourds & Grocers</title>
</head>
<body>

    <!-- header partial -->
    <%- include('./navigation/_head.ejs') %>

    <main>
