<%- include('../../partials/layout.ejs') %>

    <h2>Welcome, grocer <%= user.username %></h2>
    
    <%- include('../../partials/navigation/_buttons.ejs') %>

<%- include('../../partials/layout-end.ejs') %>