<%- include('../../partials/layout.ejs') %>

    <div id="grocer-intro">
        <h2>Welcome, grocer <%= user.username %>!</h2>
        <p id="intro-emoji">🎃</p>
    </div>
    
    <%- include('../../partials/navigation/_buttons.ejs') %>

<%- include('../../partials/layout-end.ejs') %>