<%- include('../../partials/layout.ejs') %>

    <h2>Here is your cart, <%= user.username %>!</h2>
    
    <%- include('../../partials/navigation/_buttons.ejs') %>

<%- include('../../partials/layout-end.ejs') %>