<%- include('../../partials/layout.ejs') %>

    <% if (message) { %>
        <p class="info-msg"><%=message%></p>
    <% } %>
    
    <%- include('../../partials/navigation/_buttons.ejs') %>

<%- include('../../partials/layout-end.ejs') %>