<%- include('../../partials/layout.ejs') %>

    <h2>Welcome, shopper <%= user.username %></h2>
    
    <%- include('../../partials/navigation/_buttons.ejs') %>


<%- include('../../partials/layout-end.ejs') %>