<%- include('../../partials/layout.ejs') %>

    <h1>Welcome, shopper <%= user.username %></h1>
    
    <%- include('../../partials/navigation/gohome.ejs') %>


<%- include('../../partials/layout-end.ejs') %>