body, main {
    background-color: #9583B1;
};

header, footer {
    background-color: #624090;
}

#header-id, #footer-id {
    background-color: #624090;
}

a, h1 {
    color: white;
}

#footer-id {
    color: white;
}

.halloween-font {
    font-family: "Griffy", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: orange;
}

#one-item-card {
    background-color: #F6F0FF;
}

.listing-image, .one-item-image {
    border: #624090 5px solid;
}

.colored-text {
    color: #624090;
}

/* #gg-header {
    background-color: #624090;
} */