body, main {
    background-color: var(--halloween-main-color);
};

header, footer {
    background-color: var(--halloween-dark-color);
}

button {
    background-color: var(--halloween-orange);
    color: var(--halloween-dark-color);
    border: var(--halloween-dark-color) 1px dashed;
}

button:hover {
    background-color: var(--halloween-dark-color);
    color: white;
}

#header-id, #footer-id {
    background-color: var(--halloween-dark-color);
}

a, h1 {
    color: white;
}

#footer-id {
    color: white;
}

.halloween-font {
    font-family: "Griffy", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: orange;
}

#one-item-card {
    background-color: #F6F0FF;
}

.listing-image, .one-item-image {
    border: #624090 5px solid;
}

.colored-text {
    color: var(--halloween-text-accent-color);
}

/* #gg-header {
    background-color: #624090;
} */