body {
    margin: 4rem;
    background-color: orange;
    font-family: "Montaga", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Island Moments", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}


/* .griffy-regular {
    font-family: "Griffy", system-ui;
    font-weight: 400;
    font-style: normal;
}

.island-moments-regular {
    font-family: "Island Moments", cursive;
    font-weight: 400;
    font-style: normal;
}

.montaga-regular {
    font-family: "Montaga", serif;
    font-weight: 400;
    font-style: normal;
} */
  
  