<%- include('../../partials/layout.ejs') %>

    <h2>Market will be displayed here</h2>
    
    <%- include('../../partials/navigation/buttons.ejs') %>

<%- include('../../partials/layout-end.ejs') %>