<%- include('../../partials/layout.ejs') %>

    <h2>Fall Listings</h2>

    <%- include('../../partials/navigation/_buttons.ejs') %>

    <%- include('../../partials/listings/_listings.ejs') %>

<%- include('../../partials/layout-end.ejs') %>