<header>
    <div id="gg-header">
        <div id="left-logo">
            <h1>G & G</h1>
        </div>

        <% if (user) { %>

            <% if (user.account === "grocer") { %>
            
                <div id="right-site-menu">
                    <a href="/market/signed-in">Marketplace</a>
                    <a href="/grocer-home">Home</a>
                    <a href="/auth/sign-out">Sign Out</a>
                    <a href="https://github.com/realpolya">Creator</a>
                </div>
    
            <% } else if (user.account === "shopper") { %>
                
                <div id="right-site-menu">
                    <a href="/market/signed-in">Marketplace</a>
                    <a href="/cart">Cart</a>
                    <a href="/shop">Home</a>
                    <a href="/auth/sign-out">Sign Out</a>
                    <a href="https://github.com/realpolya">Creator</a>
                </div>

            <%  } %>
        
        <% } else { %>

            <div id="right-site-menu">
                <a href="/market">Marketplace</a>
                <a href="/auth/sign-in">Sign In</a>
                <a href="/auth/sign-up">Sign Up</a>
                <a href="https://github.com/realpolya">Creator</a>
            </div>
            
        <% } %>
    </div>
</header>