<div id="sort-bar">
    <div id="sort-filter">

        <form 
            <% if (user) { %>
                action="/market/signed-in/sort" 
            <% } else { %>
                action="/market/sort" 
            <% } %>
            method="GET" class="sort-bar-form">
            <select id="sort-select" name="sort" required>
                <option value="" disabled selected>---Sort---</option>
                <option value="halloween">Halloween Items</option>
                <option value="non-halloween">Non-Halloween Items</option>
                <option value="new">Newest Items First</option>
                <option value="old">Oldest Items First</option>
                <option value="price">Lowest Price First</option>
            </select>
            <button class="sort-bar-button" type="submit">Sort</button>
        </form>
        
        <form 
            <% if (user) { %>
                action="/market/signed-in/filter" 
            <% } else { %>
                action="/market/filter" 
            <% } %>
            method="GET" class="sort-bar-form">
            <select id="filter-select" name="filter" required>

                <option value="" disabled selected>---Filter by Grocer---</option>
                <% allGrocers.forEach(grocer => { %>
                    <option value="<%=grocer._id%>">Grocer <%=grocer.username%></option>
                <% }) %>

            </select>
            <button class="sort-bar-button" type="submit">Filter</button>
        </form>

    </div>
    <div id="search">

        <form 
        <% if (user) { %>
            action="/market/signed-in/search" 
        <% } else { %>
            action="/market/search" 
        <% } %>
        method="GET" class="sort-bar-form">
            <input type="text" placeholder="e.g. pumpkin" name="search">
            <button class="sort-bar-button" type="submit">Search</button>
        </form>

    </div>
</div>