<div id="sort-bar">
    <div id="sort-filter">

    </div>
    <div id="search">
        <form>
            <input type="text">
            <button type="submit">Search</button>
        </form>
    </div>
</div>