<div id="sort-bar">
    <div id="sort-filter">
        <form action="" method="" class="sort-bar-form">
            <select id="sort-select" name="sort-select" required>
                <option value="" disabled selected>---Sort---</option>
                <option value="true">Halloween Items</option>
                <option value="false">Non-Halloween Items</option>
                <option value="false">Newest Items</option>
                <option value="false">Oldest Items</option>
            </select>
            <button class="sort-bar-button" type="submit">Sort</button>
        </form>
        <form action="" method="" class="sort-bar-form">
            <select id="filter-select" name="filter-bar" required>
                <option value="" disabled selected>---Filter by Grocer---</option>
                <!-- <option value="true">Halloween Items</option>
                <option value="false">Non-Halloween Items</option>
                <option value="false">Newest Items</option>
                <option value="false">Oldest Items</option> -->
            </select>
            <button class="sort-bar-button" type="submit">Filter</button>
        </form>
    </div>
    <div id="search">
        <form action="" method="" class="sort-bar-form">
            <input type="text" placeholder="e.g. pumpkin">
            <button class="sort-bar-button" type="submit">Search</button>
        </form>
    </div>
</div>