<div id="buttons">
    <form action="/" method="GET">
        <button type="submit">Go Home</button>
    </form>
    <form action="/market" method="GET">
        <button type="submit">View Marketplace</button>
    </form>
</div>