<div id="gg-header">
    <div id="left-logo">
        <h1>G & G</h1>
    </div>
    <div id="right-site-menu">
        <a href="/">Marketplace</a>
        <a href="/">Sign In</a>
        <a href="/">Sign Up</a>
        <a href="https://github.com/realpolya">Creator</a>
    </div>
</div>