<h2>The account of <%= user.username %></h2>

<ul>

    <% if (user.account === "grocer") { %>
    
        <li>Profits: <%= user.balance %></li>

    <% } else if (user.account === "shopper") { %>
            
        <li>Current balance: $<%= user.balance %></li>
        
        <li>
            <form action="/shop/account?_method=PUT" method="POST">
                <label for="balance">Amount to add:</label>
                <input type="number" name="balance" id="balance" placeholder="$" />
                <button type="submit">Add to the balance</button>
            </form>
        </li>
        
    <%  } %>

</ul>

<form action="" method="GET">
    <button type="submit" id="deactivate-btn">Deactivate Account</button>
</form>

